<% provide(:title, "Home") %>
<h1>About Us</h1>

<img src="/assets/home1.png" style="width:1150px;height:300px;border:0;"/><br><br><br>
 
<h2>Paladin PC is a computer building service that allows the user to sign up and buy their own computer.
   They can post reviews through the micropost section of the website.
   As a basic website it is very simple to buy your computer and as we continue to grow we will update the website to make it perfect for all.</h2>
