<% provide(:title, "Home") %>
<h1>About Us</h1>

 <img src="/assets/home1.png" style="width:1150px;height:300px;border:0;"/><br><br>
 
 
<h2>Paladin PC is a computer building service that allows the user to sign up and select the amount
    of money they want to pay for a computer. Then a computer is made for them within their budget and shipped to them
    in 7-10 business days. They can also post reviews through the micropost section of the website. 
    As a basic website it is very simple to buy your computer and as we continue to grow we will update the website 
    to make it more customizable for the user.</h2>
