<% provide(:title, "Home") %>
<head>
 
        <title>CSCI450</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="stylesheets/custom.scss">
    </head>
    <body>
        
        <h1>Low End PC</h1>
        <h2>$450-$900</h2><br>
      
        <img src="/assets/cheap1.png" style="width:250px;height:300px;border:10;"/>
      
         <button id="Cheap1Button" class="button2">$450</button>
            <script type="text/javascript">
                document.getElementById("Cheap1Button").onclick = function () {
                    location.href = "/buy";
                };
            </script>
            
        <img src="/assets/cheap2.png" style="width:250px;height:300px;border:0;"/>
                
        <button id="Cheap2Button" class="button2" >$650</button>
            <script type="text/javascript">
                document.getElementById("Cheap2Button").onclick = function () {
                    location.href = "/buy";
                };
            </script><br><br>
        
        <img src="/assets/cheap3.png" style="width:250px;height:300px;border:0;"/>
        
        <button id="Cheap3Button" class="button2" >$750</button>
            <script type="text/javascript">
                document.getElementById("Cheap3Button").onclick = function () {
                    location.href = "/buy";
                };
            </script>
            
        <img src="/assets/cheap4.png" style="width:250px;height:300px;border:0;"/>
        
        <button id="Cheap4Button" class="button2" >$900</button>
            <script type="text/javascript">
                document.getElementById("Cheap4Button").onclick = function () {
                    location.href = "/buy";
                };
            </script>
    </body>