<% provide(:title, "Home") %>
<head>
 
        <title>CSCI450</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="stylesheets/custom.scss">
    </head>
    <body>
        
        <h1>High End PC</h1>
        <h2>$2500-$5000</h2><br>
      
        <img src="/assets/ex1.png" style="width:250px;height:300px;border:10;"/>
        <button id="Ex1Button" class="button2">$2500</button>
            <script type="text/javascript">
                document.getElementById("Ex1Button").onclick = function () {
                    location.href = "/buy";
                };
            </script>
        
        <img src="/assets/ex3.png" style="width:250px;height:300px;border:10;"/>
        
        <button id="Ex2Button" class="button2" >$3000</button>
            <script type="text/javascript">
                document.getElementById("Ex2Button").onclick = function () {
                    location.href = "/buy";
                };
            </script><br><br>
        
        <img src="/assets/ex2.png" style="width:250px;height:300px;border:10;"/>
        
        <button id="Ex3Button" class="button2" >$4000</button>
            <script type="text/javascript">
                document.getElementById("Ex3Button").onclick = function () {
                    location.href = "/buy";
                };
            </script>
        
        <img src="/assets/ex4.png" style="width:250px;height:300px;border:10;"/>
        
        <button id="Ex4Button" class="button2" >$5000</button>
            <script type="text/javascript">
                document.getElementById("Ex4Button").onclick = function () {
                    location.href = "/buy";
                };
            </script>
    </body>