<% provide(:title, "Home") %>
<head>
 
        <title>CSCI450</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="stylesheets/custom.scss">
    </head>
    <body>
        
        <h1>Thanks!</h1>
        <h2>Your ourchase was confirmed. Your pc will be delivered in 7 business days.</h2><br>

    </body>