<% provide(:title, "Home") %>
<head>
 
        <title>CSCI450</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="stylesheets/custom.scss">
    </head>
    <body>
        <nav>
            <a href="Login.html">Login</a>
            <a href="Reg.html">Register</a>
            <a href="ShoppingCart.html">
                <img src="Shoppingcart.png" style="width:42px;height:42px;border:0;">
            </a><br>
         </nav>
         <h1>Computer Shop</h1><br><br>
          <img src="th.jpg"></img>
        <p>Buy the parts you need.</p>
        <ul class="navigation">
           <li class="menu"><a href="#">GPU</a>
                <ul class="submenu">
                    <li><a href="#">Product 1</a></li>
                    <li><a href="#">Product 2</a></li>
                    <li><a href="#">Product 3</a></li>
                </ul>            
            </li>
            <li class="menu"><a href="#">CPU</a>
                <ul class="submenu">
                    <li><a href="#">Product 1</a></li>
                    <li><a href="#">Product 2</a></li>
                    <li><a href="#">Product 3</a></li>
                </ul>            
            </li>
            <li class="menu"><a href="#">MotherBoards</a>
                <ul class="submenu">
                    <li><a href="#">Product 1</a></li>
                    <li><a href="#">Product 2</a></li>
                    <li><a href="#">Product 3</a></li>
                </ul>
            </li>    
            <li class="menu"><a href="#">Thing 4</a>
                <ul class="submenu">
                    <li><a href="#">Product 1</a></li>
                    <li><a href="#">Product 2</a></li>
                    <li><a href="#">Product 3</a></li>
                </ul>
            </li> 
            <li class="menu"><a href="#">Thing 5</a>
                <ul class="submenu">
                    <li><a href="#">Product 1</a></li>
                    <li><a href="#">Product 2</a></li>
                    <li><a href="#">Product 3</a></li>
                </ul>
            </li> 
            <li class="menu"><a href="#">Thing 6</a>
                <ul class="submenu">
                    <li><a href="#">Product 1</a></li>
                    <li><a href="#">Product 2</a></li>
                    <li><a href="#">Product 3</a></li>
                </ul>
            </li> 
            <li class="menu"><a href="#">Thing 7</a>
                <ul class="submenu">
                    <li><a href="#">Product 1</a></li>
                    <li><a href="#">Product 2</a></li>
                    <li><a href="#">Product 3</a></li>
                </ul>
            </li> 
            <li class="menu"><a href="#">Thing 8</a>
                <ul class="submenu">
                    <li><a href="#">Product 1</a></li>
                    <li><a href="#">Product 2</a></li>
                    <li><a href="#">Product 3</a></li>
                </ul>
            </li> 
            <li class="menu"><a href="#">Thing 9</a>
                <ul class="submenu">
                    <li><a href="#">Product 1</a></li>
                    <li><a href="#">Product 2</a></li>
                    <li><a href="#">Product 3</a></li>
                </ul>
            </li> 
            <li class="menu"><a href="#">Thing 10</a>
                <ul class="submenu">
                    <li><a href="#">Product 1</a></li>
                    <li><a href="#">Product 2</a></li>
                    <li><a href="#">Product 3</a></li>
                </ul>
            </li> 
           
            
        </ul>
         
    </body>
