<% provide(:title, "Home") %>
<head>
 
        <title>CSCI450</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="stylesheets/custom.scss">
    </head>
    <body>
        
        <h1>Paladin PC</h1>
        <h2>You buy it, we build it.</h2><br>
        <img src="/assets/home1.png" style="width:1150px;height:300px;border:0;"/><br><br><br>
        
         <button id="CheapButton" class="button">Low End</button>
            <script type="text/javascript">
                document.getElementById("CheapButton").onclick = function () {
                    location.href = "/cheap";
                };
            </script>
        <button id="MidButton" class="button" >Mid Tier</button>
            <script type="text/javascript">
                document.getElementById("MidButton").onclick = function () {
                    location.href = "mid";
                };
            </script>
        <button id="ExpensiveButton" class="button" >High End</button>
            <script type="text/javascript">
                document.getElementById("ExpensiveButton").onclick = function () {
                    location.href = "expensive";
                };
            </script>
    </body>
