<% provide(:title, "Home") %>
<head>
 
        <title>CSCI450</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="stylesheets/custom.scss">
    </head>
    <body>
        
        <h1>Mid Tier PC</h1>
        <h2>$1200-$2300</h2><br>
      
        <img src="/assets/mid1.png" style="width:250px;height:300px;border:10;"/>
      
         <button id="Mid1Button" class="button2">$1200</button>
            <script type="text/javascript">
                document.getElementById("Mid1Button").onclick = function () {
                    location.href = "/buy";
                };
            </script>
        
        <img src="/assets/mid2.png" style="width:250px;height:300px;border:10;"/>
        
        <button id="Mid2Button" class="button2" >$1500</button>
            <script type="text/javascript">
                document.getElementById("Mid2Button").onclick = function () {
                    location.href = "/buy";
                };
            </script><br><br>
            
        <img src="/assets/mid3.png" style="width:250px;height:300px;border:10;"/>
        
        <button id="Mid3Button" class="button2" >$1800</button>
            <script type="text/javascript">
                document.getElementById("Mid3Button").onclick = function () {
                    location.href = "/buy";
                };
            </script>
        
        <img src="/assets/mid4.png" style="width:250px;height:300px;border:10;"/>
        
        <button id="Mid4Button" class="button2" >$2300</button>
            <script type="text/javascript">
                document.getElementById("Mid4Button").onclick = function () {
                    location.href = "/buy";
                };
            </script>
    </body>